import website-logging.caddy

http://example.com, http://www.example.com {
    import website_access
    redir https://example.com{uri} permanent
}

www.example.com {
    import website_access
    redir https://example.com{uri} permanent
}

example.com {
    import website_access
    encode zstd gzip

    handle /health {
        reverse_proxy 127.0.0.1:8000 {
            header_up X-Forwarded-For {http.request.remote.host}
        }
    }

    handle /api/* {
        reverse_proxy 127.0.0.1:8000 {
            header_up X-Forwarded-For {http.request.remote.host}
        }
    }

    handle {
        reverse_proxy 127.0.0.1:3000
    }
}
