[Unit]
Description=Check STYL country database twice daily

[Timer]
OnCalendar=*-*-* 00,12:00:00 UTC
RandomizedDelaySec=30min
Persistent=true
Unit=styl-geoip-update.service

[Install]
WantedBy=timers.target
